PROJECT_NAME=__PROJECT_NAME__
APP_ENV=development
TIMEZONE=UTC

DOMAIN_NAME=__DOMAIN_NAME__
API_PORT=__API_PORT__
POSTGRES_PORT=__POSTGRES_PORT__
N8N_PORT=__N8N_PORT__
CADDY_HTTP_PORT=__CADDY_HTTP_PORT__
CADDY_HTTPS_PORT=__CADDY_HTTPS_PORT__

POSTGRES_DB=__POSTGRES_DB__
POSTGRES_USER=__POSTGRES_USER__
POSTGRES_PASSWORD=__POSTGRES_PASSWORD__

N8N_PROTOCOL=http
N8N_BASE_URL=http://__DOMAIN_NAME__:__CADDY_HTTP_PORT__/n8n/
N8N_BASIC_AUTH_USER=__N8N_BASIC_AUTH_USER__
N8N_BASIC_AUTH_PASSWORD=__N8N_BASIC_AUTH_PASSWORD__

SECRET_KEY=__SECRET_KEY__
