PROJECT_NAME=__PROJECT_NAME__
APP_ENV=production
TIMEZONE=UTC

DOMAIN_NAME=__DOMAIN_NAME__
API_PORT=__API_PORT__
POSTGRES_PORT=__POSTGRES_PORT__
N8N_PORT=__N8N_PORT__
CADDY_HTTP_PORT=__CADDY_HTTP_PORT__
CADDY_HTTPS_PORT=__CADDY_HTTPS_PORT__

# Admin (container level)
POSTGRES_ADMIN_USER=__POSTGRES_ADMIN_USER__
POSTGRES_ADMIN_PASSWORD=__POSTGRES_ADMIN_PASSWORD__

# App DB
APP_DB_NAME=__APP_DB_NAME__
APP_DB_USER=__APP_DB_USER__
APP_DB_PASSWORD=__APP_DB_PASSWORD__

# n8n DB
N8N_DB_NAME=__N8N_DB_NAME__
N8N_DB_USER=__N8N_DB_USER__
N8N_DB_PASSWORD=__N8N_DB_PASSWORD__

N8N_PROTOCOL=https
N8N_BASE_URL=https://__DOMAIN_NAME__/n8n/
N8N_BASIC_AUTH_USER=__N8N_BASIC_AUTH_USER__
N8N_BASIC_AUTH_PASSWORD=__N8N_BASIC_AUTH_PASSWORD__

SECRET_KEY=__SECRET_KEY__
